/target/
/.classpath
/.project
/.settings/
/src/main/webapp/META-INF/context.xml
/src/main/webapp/WEB-INF/classes/
/src/main/webapp/WEB-INF/lib/
/.metadata/
/src/main/java/tool/Dao.java
/target/
/bin/
/build/
/src/main/java/tool/Dao.java
.project
*.log
*.env
